<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>


<%= form_for [@cocktail,@dose] do |f|%>
<%= f.label :amount %>
<div class="form-group"><%= f.text_field :amount %></div>
<%= f.label :ingredient %>
<div class="form-group"><%= f.text_field :ingredient %></div>
<%= f.label :description %>
<div class="form-group"><%= f.text_field :description %></div>
<%= f.submit :class=>"btn btn-warning"%>

<% end %>

<%= link_to "Home", cocktails_path, :class=>"btn btn-primary " %>
